name: Deploy_Document

on:
  # 每当 push 到 main 分支时触发部署
  push:
    branches: [master]
  # 手动触发部署
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          # 选择要使用的 node 版本
          node-version: 22

      - uses: actions/checkout@v4
        with:
          # “最近更新时间” 等 git 日志相关信息，需要拉取全部提交记录
          fetch-depth: 0

      - name: Cache npm modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm 
            node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}

      # 安装依赖（使用 npm）
      - name: Install dependencies
        run: npm ci

      # 运行脚本（使用 npm）
      - name: Run tests
        run: npm run docs:build
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write   # 允许向gh-pages分支推送
      pages: write      # 允许操作GitHub Pages
      id-token: write   # 支持OIDC身份验证
    steps:
      # 查看 workflow 的文档来获取更多信息
      # @see https://github.com/crazy-max/ghaction-github-pages
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          # 部署到 gh-pages 分支
          target_branch: gh-pages
          # 部署目录为 VuePress 的默认输出目录
          build_dir: docs/.vuepress/dist
        env:
          # @see https://docs.github.com/cn/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}